.project
.cproject
.csettings
.settings
.Rproj.user
.Rhistory
standalone/build/**
src/**/*.o
src/**/*.o-*
src/*.so
src/*.dll
CMakeCache.txt
CMakefiles/**
Makefile
cmake_install.cmake
codebase/**
autom4te.cache/
config.log
config.status
debug
docker
notes
tests/testthat/test-KKTSwindle.R
tests/testthat/test-weighted_cv.R
.idea
cmake-build-debug
standalone/*.txt
src/hide
extras
CRAN-RELEASE
.Rdata
.DS_Store
*.gcno
*.gcda
src/Makevars
src/Makevars.win
