.project
.cproject
.csettings
.settings
.Rproj.user
.Rhistory
standalone/build/**
src/**/*.o
src/*.so
src/*.dll
CMakeCache.txt
CMakefiles/**
Makefile
cmake_install.cmake
codebase/**
/config.*
src/Makevars
autom4te.cache/
*.DS_Store
*.Rapp.history
*.RData
*conflicted*
config.log
config.status
debug
docker
notes
tests/testthat/test-KKTSwindle.R
tests/testthat/test-weighted_cv.R
