language: r
sudo: false
cache: packages

r_packages: devtools

#matrix:
#  include:
#    # gcc default
#    - compiler: gcc
#      addons:
#        apt:
#          sources:
#          - r-packages-precise
#          packages:
#          - r-base-dev
#          - r-recommended
#          - texinfo
#          - qpdf
#    # gcc 6
#    - compiler: gcc
#      addons:
#        apt:
#          sources:
#          - r-packages-precise
#          - ubuntu-toolchain-r-test
#          packages:
#          - r-base-dev
#          - r-recommended
#          - texinfo
#          - qpdf
#          - g++-6
#      before_script:
#        - export PKG_NAME=$(Rscript -e 'cat(paste0(devtools::as.package(".")$package))')
#        - export PKG_TARBALL=$(Rscript -e 'pkg <- devtools::as.package("."); cat(paste0(pkg$package,"_",pkg$version,".tar.gz"))')      
#        - echo 'CC=gcc-6' > ~/.R/Makevars
#        - echo 'CXX=g++-6' >> ~/.R/Makevars
#        - echo 'CXX1X=g++-6' >> ~/.R/Makevars
#        - echo 'PKG_CXXFLAGS= -std=c++14 -s -g1 -Wno-ignored-attributes -Wno-deprecated-declarations' >> ~/.R/Makevars
    
#cache:
#  directories:
#    - ~/Rlib     # R libraries
#    - ~/texlive  # LaTex 
#    - ~/bin      # pandoc 

# install dependencies
#install:
#  # Save R packages in Rlib
#  - mkdir -p ~/Rlib
#  - echo 'R_LIBS=~/Rlib' > .Renviron
#  - echo 'options(repos = "http://cran.rstudio.com")' > .Rprofile
#  - mkdir -p ~/.R
#  # Build LaTex and pandoc
#  - mkdir -p ~/bin
#  - wget -q -O - https://github.com/yihui/crandalf/raw/master/inst/scripts/install-texlive | bash
#  - wget -q -O - https://github.com/yihui/crandalf/raw/master/inst/scripts/install-pandoc | bash
#  - PATH=$HOME/texlive/bin/x86_64-linux:$PATH  
#  # Install R packages
#  - Rscript -e "if (!require('devtools')) install.packages('devtools')"    
#  - Rscript -e "if (!require('covr')) devtools::install_github('jimhester/covr')"  
#  - Rscript -e "if (!require('rmarkdown')) install.packages('rmarkdown')"
#  - Rscript -e "if (!require('knitr')) install.packages('knitr')"  
#  - Rscript -e "if (!require('drat')) install.packages('drat')"      
#  - Rscript -e "if (!require('ff')) install.packages('ff')"
#  - Rscript -e "if (!require('ffbase')) install.packages('ffbase')"
#  - Rscript -e "if (!require('ggplot2')) install.packages('ggplot2')"
#  - Rscript -e "if (!require('RcppParallel')) install.packages('RcppParallel')"
#  - Rscript -e "if (!require('BH')) install.packages('BH')"
#  - Rscript -e "if (!require('RcppEigen')) install.packages('RcppEigen')"
#  - Rscript -e "if (!require('testthat')) install.packages('testthat')"
#  - Rscript -e "if (!require('gnm')) install.packages('gnm')"
  
before_script:
  - export PKG_NAME=$(Rscript -e 'cat(paste0(devtools::as.package(".")$package))')
  - export PKG_TARBALL=$(Rscript -e 'pkg <- devtools::as.package("."); cat(paste0(pkg$package,"_",pkg$version,".tar.gz"))')
  
 # Build and check package
script:
  - R CMD build .
  - _R_CHECK_CRAN_INCOMING_=FALSE R CMD check "${PKG_TARBALL}" --as-cran
  - cat ${PKG_NAME}.Rcheck/00install.out # Print out install / compile log 

after_success:
  - Rscript -e 'covr::codecov()'
  # Rebuild docker container
  - curl --data "build=true" -X POST https://registry.hub.docker.com/u/ohdsi/broadsea-methodslibrary/trigger/f0b51cec-4027-4781-9383-4b38b42dd4f5/
  # Rebuild drat repo   
  - export PKG_TARBALL=$(Rscript -e 'pkg <- devtools::as.package("."); cat(paste0(pkg$package,"_",pkg$version,".tar.gz"))')    
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && bash deploy.sh
